<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish Joshi</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class= "profile-section">
        <img width="200" height= "200" style= "border-radius: 50%;" src="static/profile_pic.jpeg">
        <h1>{{name}}</h1>
        <h2>{{position}}</h2>
        <h3>
            {% for name, link in media.items() %}
            <a href="{{link}}"><b>{{name}}</b></a>
            {% endfor %}
        </h3>
    </div>
</body>
</html>